<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar pokémon por ID ou Nome - CatchPoke</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/pokemon.css">
</head>
<body>
    <div class="wild-main">
        <div class="container is-max-desktop">
            <h1 class="titulo">Procurar pokémon por ID ou Nome</h1>
            <form action="/pokemon" method="POST">
                <div class="field mt-6">
                    <label class="label" for="name">Nome</label>
                    <input id="username" name="name" class="input" type="text" placeholder="Nome do Pokémon">
                </div>
                <div class="field">
                    <label class="label" for="id">ID</label>
                    <input id="id" name="id" class="input" type="id" placeholder="ID do Pokémon">
                </div>
                <br>
                <div class="field is-grouped is-justify-content-center">
                    <div class="control">
                        <button class="button is-success is-rounded">Buscar</button>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>