<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa cheia!</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/pokemon.css">
</head>
<body>
    <div class="wild-main">
        <div class="container is-max-desktop">
            <div class="card">
                <h1 class="bag-title">Eita, parece que sua bolsa já atingiu o número máximo de pokémons possíveis</h1>
                <h2 class="card-subtitle">Você pode soltar o pokémon que quiser acessando sua bolsa!</h2>
                <div class="row">
                    <br><br>
                    <a href="http://localhost:3000/bag"><button class="button is-success">Consultar bag</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>